* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #1d1d21;
  font-family: "Tilt Neon", cursive;
}

h1 {
  font-size: 3rem;
  color: rgb(240, 240, 240);
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}

.round {
    width: max-content;
    align-self: flex-start;
    font-size: 1.5rem;
    margin-left: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > * {
  width: 100%;
}

header,
footer {
  height: 100px;
  background-color: #1c1c26;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 20rem;
  padding: 2rem 0;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main > * {
  width: 100%;
}

.upperText,
.output {
  min-height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons {
  width: 100%;
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.button {
  min-width: 16rem;
  min-height: 24rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #363646;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  user-select: none;
}

.retry-btn {
    max-width: 16rem;
    height: 5rem;

    background-color: #363646;
    color:rgb(240, 240, 240);
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    transition: scale ease 0.1s;
}

.retry-btn:hover {
    background-color: #1c1c26;
}

.retry-btn:active {
    transition: scale ease 0.1s;
    scale: 0.95;
}
